* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: calc(100vw * 940 / 1920);
  position: relative;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% calc(100vw * 940 / 1920);
}
body > div,
body > h1 {
  position: absolute;
}
h1 {
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3.9vw;
  font-style: italic;
  text-shadow: .2vw .2vw black;
  border-radius: 28% 0%;
  padding: 1.5% 1%;
  background-color: rgba(107, 185, 164, 0.7);
}

#deposita-preleva {
  left: 7.2%;
  top: 1%;
  white-space: nowrap;
}

#deposita-preleva button {
  width: 55%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2.2vw;
  font-style: italic;
  text-shadow: .2vw .2vw black;
  padding: 1% 2%;
  background-color: rgba(107, 185, 164, 0.7);
}

#deposita {
  border-radius: 0 28%;
}

#preleva {
  border-radius: 28% 0%;

}
#gioca-container {
  top: 1%;
  left: 50%;
  width: 20%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}
#gioca-container button {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 6vw;
  font-style: italic;
  text-shadow: .2vw .2vw black;
  border-radius: 28% 0%;
  padding: 1% 5%;
  background-color: rgba(107, 185, 164, 0.7);
}
button:hover {
  cursor: pointer;
}
#contatori {
  display: flex;
  flex-direction: column;
  top: 1%;
  right: 1%;
  /* width: 32%; */
  height: 17%;
}
#contatori hr {
  border-color: rgba(107, 185, 164, 0.9);
}
#contatori > div {
  color: white;
  font-size: 2vw;
  font-weight: 700;
  text-shadow: .2vw .2vw black;
  height: calc(100% / 3);
  width: 100%;
}
#contatori > div:not(:first-child) {
  border-top: .2vh solid rgb(107, 185, 164);
}
#overlay-container {
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vw * 940 / 1920);
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 5vw;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.8vw;
  text-shadow: .2vw .2vw rgb(107, 185, 164);
}
#overlay span {
  height: 26%;
  line-height: 130%;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}
#overlay #ok {
  color: white;
  border: .2vw solid black;
  cursor: pointer;
  border-bottom-right-radius: 0.8vw;
  border-bottom-left-radius: 0.8vw;
  background-color: rgb(107, 185, 164);
  height: 22%;
  line-height: 112%;
  font-size: 4.5vw;
  font-weight: 700;
  text-shadow: .2vw .2vw black;
}
.container {
  width: 32%;
  height: 65.4%;
  position: absolute;
  top: 23.9%;
  left: 3.6%;
  text-align: center;
  overflow: hidden;
}
.container img {
  height: 100%;
  width: auto;
}
#inner-roulette {
  position: absolute;
  top: 50%;
  left: 50%;
}
#pallina {
  position: absolute;
  top: 50%;
  left: 50%;
}
.animation {
  animation-name: pallina;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes pallina  {
0%   {transform: translate(-50%, -50%) rotate(0deg);}
77%  {transform: translate(-50%, -50%) rotate(960deg);}
89%  {transform: translate(-50%, calc(-50% + 17.5%)) rotate(1085.5deg);}
93%  {transform: translate(-50%, calc(-50% + 16.5%)) rotate(1081deg);}
96%  {transform: translate(-50%, calc(-50% + 19.7%)) rotate(1079.7deg);}
100% {transform: translate(-50%, calc(-50% + 18%)) rotate(1080.3deg);}
}
.transform5050 {
  transform: translate(-50%, -50%);
}
.rotate0 {
  transform: translate(-50%, -50%) rotate(-1080deg);
  transition: ease 8s;
}
.rotate1 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 1));
  transition: ease 8s;
}
.rotate2 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 2));
  transition: ease 8s;
}
.rotate3 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 3));
  transition: ease 8s;
}

.rotate4 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 4));
  transition: ease 8s;
}

.rotate5 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 5));
  transition: ease 8s;
}

.rotate6 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 6));
  transition: ease 8s;
}
.rotate7 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 7));
  transition: ease 8s;
}

.rotate8 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 8));
  transition: ease 8s;
}
.rotate9 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 9));
  transition: ease 8s;
}
.rotate10 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 10));
  transition: ease 8s;
}
.rotate11 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 11));
  transition: ease 8s;
}
.rotate12 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 12));
  transition: ease 8s;
}
.rotate13 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 13));
  transition: ease 8s;
}
.rotate14 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 14));
  transition: ease 8s;
}
.rotate15 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 15));
  transition: ease 8s;
}
.rotate16 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 16));
  transition: ease 8s;
}
.rotate17 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 17));
  transition: ease 8s;
}
.rotate18 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 18));
  transition: ease 8s;
}
.rotate19 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 19));
  transition: ease 8s;
}
.rotate20 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 20));
  transition: ease 8s;
}
.rotate21 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 21));
  transition: ease 8s;
}
.rotate22 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 22));
  transition: ease 8s;
}
.rotate23 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 23));
  transition: ease 8s;
}
.rotate24 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 24));
  transition: ease 8s;
}
.rotate25 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 25));
  transition: ease 8s;
}
.rotate26 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 26));
  transition: ease 8s;
}
.rotate27 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 27));
  transition: ease 8s;
}
.rotate28 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 28));
  transition: ease 8s;
}
.rotate29 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 29));
  transition: ease 8s;
}
.rotate30 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 30));
  transition: ease 8s;
}
.rotate31 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 31));
  transition: ease 8s;
}
.rotate32 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 32));
  transition: ease 8s;
}
.rotate33 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 33));
  transition: ease 8s;
}
.rotate34 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 34));
  transition: ease 8s;
}
.rotate35 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 35));
  transition: ease 8s;
}
.rotate36 {
  transform: translate(-50%, -50%) rotate(calc(-1080deg - 9.73deg * 36));
  transition: ease 8s;
}

#contenitore-numeri {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 32.7%;
  left: 40%;
  width: 54%;
  height: 31.9%;
  cursor: pointer;
}
#contenitore-numeri div:not(:first-child) {
  width: calc(100% / 14);
  height: calc(100% / 3);
}
#contenitore-numeri div:hover {
  background-color: greenyellow;
  opacity: 0.5;
}
#zero {
  width: calc(100% / 14);
  height: 100%;
}
#contenitore-tipo-giocata {
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 64.6%;
  left: 43.9%;
  width: 46.3%;
  height: 16.6%;
  cursor: pointer;
}
#contenitore-tipo-giocata div:hover {
  background-color: greenyellow;
  opacity: 0.5;
}
.unterzo {
  width: calc(100% / 3);
  height: 50%;
}
.unsesto {
  width: calc(100% / 6);
  height: 50%;
}

.hidden {
  display: none;
  /* opacity: 0; */
  transition: 1s;
}
